<?xml version="1.0"?>
<model>
  <name>simple_car</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>auto_driving_vehicle</name>
    <email>noreply@example.com</email>
  </author>
  <description>Simple four-wheel car model for Gazebo Sim.</description>
</model>
